* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 11, 43);

    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    --webkit-font-smoothing: antialiased;
}